################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataInterface.Database/obj
/.vs
/ReportBuilder.Models/ReportBuilder.Models/obj/BNB
/ReportBuilderAPI
