# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/query-builder/node_modules
/workbooks-dashboard/node_modules
/contractor-oq-dashboard/node_modules
/contractor-training-dashboard/node_modules

# testing
/coverage
/query-builder/coverage
/workbooks-dashboard/coverage
/contractor-oq-dashboard/coverage
/contractor-training-dashboard/coverage

# production
/build
/query-builder/build
/workbooks-dashboard/build
/contractor-oq-dashboard/build
/contractor-training-dashboard/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/launch.json

src/containers/ui
src/containers/ui/
