<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <SqlUnitTesting>
    <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="#{SqlDBTestConnectionString}#" CommandTimeOut="30"/>
    <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="#{SqlDBTestConnectionString}#" CommandTimeOut="30"/>
  </SqlUnitTesting>
</configuration>